.update-user {
    margin: 0 auto;
    margin-top: 20vh;
}

.update-user-title {
    text-align: center;
    margin-bottom: 10vh;
}

.update-user-form {
    width: 40vw;
    padding: 20px;
    border: 1px solid white;
}

.update-user-form.light {
    border: 1px solid black;
}

.update-user-info {
    display: grid;
    flex: 1;
    margin: 30px;
}

.update-user-label {
    font-size: 20px;
    text-align: left;
    margin: 10px 25px;
}

.update-user-input {
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
}

.update-user-button {
    padding: 10px 20px;
    font-size: 20px;
    margin-left: auto;
    height: auto;
}